Repository omniusstudio/pms-practice-management, changes with the owners that CODEOWNERS names for each.
All owners: @tech-lead, @security-team, @backend-team, @auth-team, @api-team, @data-team, @dba-team, @frontend-team, @ux-team, @devops-team, @infrastructure-team, @platform-team, @observability-team, @technical-writers, @compliance-team

CODEOWNERS:

# Global owners - these users will be requested for review on all PRs
* @tech-lead @security-team

# Backend code
/apps/backend/ @backend-team @security-team
/apps/backend/auth/ @backend-team @security-team @auth-team
/apps/backend/api/ @backend-team @api-team
/apps/backend/models/ @backend-team @data-team
/apps/backend/migrations/ @backend-team @data-team @dba-team

# Frontend code
/apps/frontend/ @frontend-team @ux-team
/apps/frontend/src/components/auth/ @frontend-team @security-team
/apps/frontend/src/pages/ @frontend-team @ux-team
/apps/frontend/src/hooks/ @frontend-team

# Infrastructure
/apps/infra/ @devops-team @security-team
/apps/infra/terraform/ @devops-team @infrastructure-team
/apps/infra/kubernetes/ @devops-team @platform-team
/apps/infra/monitoring/ @devops-team @observability-team

# Shared packages
/packages/ @backend-team @frontend-team
/packages/shared-types/ @backend-team @frontend-team @api-team
/packages/shared-config/ @devops-team @backend-team @frontend-team

# Documentation
/docs/ @tech-lead @technical-writers
/docs/security/ @security-team @compliance-team
/docs/api/ @api-team @technical-writers

# Configuration files
/.github/ @devops-team @tech-lead
/docker-compose*.yml @devops-team
/Dockerfile* @devops-team
/.env* @devops-team @security-team

# Security-sensitive files
/SECURITY.md @security-team @compliance-team
/apps/backend/auth/ @security-team @auth-team
/apps/backend/middleware/security.py @security-team
/apps/frontend/src/utils/auth.ts @security-team @frontend-team

# Database and migrations
/apps/backend/migrations/ @data-team @dba-team @backend-team
/apps/backend/models/ @data-team @backend-team
/scripts/db/ @data-team @dba-team

# CI/CD and deployment
/.github/workflows/ @devops-team @tech-lead
/scripts/deploy/ @devops-team @platform-team
/Makefile @devops-team @tech-lead

# Root configuration files
/package.json @frontend-team @devops-team
/requirements.txt @backend-team @devops-team
/pyproject.toml @backend-team @devops-team
/.editorconfig @tech-lead
/.gitignore @tech-lead @devops-team
/README.md @tech-lead @technical-writers
/CONTRIBUTING.md @tech-lead @technical-writers

fix: update semantic-release config for local testing
  .releaserc.json
Owners: @tech-lead, @security-team

feat: add test feature to demonstrate conventional commits
  test-feature.md
Owners: @tech-lead, @security-team

fix(auth): resolve login timeout issue for better user experience
  bug-fix.md
Owners: @tech-lead, @security-team

feat!: migrate to new authentication system
  breaking-change.md
Owners: @tech-lead, @security-team

chore: clean up test files
  CHANGELOG.md
  breaking-change.md
  bug-fix.md
  release-artifacts/release-notes-v1.1.0.md
  release-artifacts/release-summary-v1.1.0.json
  test-feature.md
Owners: @tech-lead, @security-team

feat: configure semantic-release with GitHub repository URL
  .releaserc.json
Owners: @tech-lead, @security-team

fix: remove npm plugin from semantic-release config
  .releaserc.json
Owners: @tech-lead, @security-team

feat: add testing infrastructure documentation
  TESTING.md
Owners: @tech-lead, @security-team

feat: add infrastructure testing documentation for workflow validation
  infrastructure-test.md
Owners: @tech-lead, @security-team

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Owners: @tech-lead, @security-team

Notes added by 'git notes add'
  2e0de1eb96e8c190f92ef4ce2b91e284bd030e84
Owners: @tech-lead, @security-team

fix: resolve shell escaping issues in release notes generation
  .releaserc.json
  scripts/generate-release-notes.js
Owners: @tech-lead, @security-team

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Owners: @tech-lead, @security-team

Notes added by 'git notes add'
  6b4497734e365e5004321173ebf9a268d9b4a895
Owners: @tech-lead, @security-team

fix: Resolve artillery node.js compatibility issues
  .github/workflows/performance-budget.yml
  .github/workflows/release.yml
  tests/performance/package-lock.json
  tests/performance/package.json
Owners: @devops-team, @tech-lead, @security-team

fix: Update deprecated artifact actions from v3 to v4
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Owners: @devops-team, @tech-lead

fix: Add missing aiosqlite dependency to resolve test import errors
  apps/backend/requirements.txt
Owners: @backend-team, @security-team

fix: Update test_practice_active_lookup_performance threshold
  apps/backend/tests/test_schema_cleanup_audit.py
Owners: @backend-team, @security-team

fix: Resolve linter errors in test_schema_cleanup_audit.py
  apps/backend/tests/test_schema_cleanup_audit.py
Owners: @backend-team, @security-team

fix: Upgrade codeql to v3 and fix yaml formatting
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @devops-team, @tech-lead

fix: Add root package.json for semantic-release dependencies
  .github/workflows/release.yml
  package-lock.json
  package.json
Owners: @devops-team, @tech-lead, @security-team, @frontend-team

fix: Add write permissions to release workflow
  .github/workflows/release.yml
Owners: @devops-team, @tech-lead

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @tech-lead, @security-team, @frontend-team, @devops-team

Notes added by 'git notes add'
  5764c98ff5a1d49185ed82f02ddf6fce03993343
Owners: @tech-lead, @security-team

fix: Add actions write permission to enable CD pipeline triggering
  .github/workflows/release.yml
Owners: @devops-team, @tech-lead

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @tech-lead, @security-team, @frontend-team, @devops-team

Notes added by 'git notes add'
  3482af33cfa7de7f5089c3b40652bdf714053521
Owners: @tech-lead, @security-team
